
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<!-- 
@*@section header{
    Trang chủ
    }*@ -->
<!-- begin:: Content -->

    <!--Begin::Dashboard 1-->
    <!--Begin::Row-->
    <div class="row">
        <div class="col-lg-12 col-xl-12 order-lg-1 order-xl-1">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "kt-form kt-form--fit kt-margin-b-20" }))
            {

                <!--begin: Search Form -->

                <div class="row kt-margin-b-20" style="margin-left:10px">
                    <div class="col-lg-6 kt-margin-b-10-tablet-and-mobile">
                        <label>Từ khóa 1:</label>
                        <input v name="key1" type="text" class="form-control kt-input" placeholder="Nhận mã sản phẩm" data-col-index="0">
                    </div>
                    <div class="col-lg-6 kt-margin-b-10-tablet-and-mobile">
                        <label>Từ khóa 2:</label>
                        <input  name="key2" type="text" class="form-control kt-input" placeholder="Nhận tên sản phẩm" data-col-index="1">
                    </div>



                </div>

                <div class="row" style="margin-left:10px">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-brand--icon" id="kt_search">
                            <span>
                                <i class="la la-search"></i>
                                <span>Search</span>
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <a href="Admin/Product/Index" class="btn btn-secondary btn-secondary--icon">
                            <i class="la la-close"></i>
                            <span>Reset</span>
                        </a>


                    </div>
                </div>
            }
        </div>
   

    </div>
    <div class="row">

        
        <div class="col-lg-6 col-xl-6 order-lg-1 order-xl-1">

            @if (ViewBag.Key2 == "")
            {
                <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
                <script type="text/javascript">trends.embed.renderExploreWidget("TIMESERIES", { "comparisonItem": [{ "keyword": "@{@ViewBag.Key1}", "geo": "VN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "q=%C4%91i%E1%BB%87n%20tho%E1%BA%A1i&geo=VN&date=today 12-m", "guestPath": "https://trends.google.com.vn:443/trends/embed/" });</script>
            }
            else
            {
                <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
                <script type="text/javascript">trends.embed.renderExploreWidget("TIMESERIES", { "comparisonItem": [{ "keyword": "@{@ViewBag.Key1}", "geo": "VN", "time": "today 12-m" }, { "keyword": "@{@ViewBag.Key2}", "geo": "VN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "geo=VN&q=%C4%91i%E1%BB%87n%20tho%E1%BA%A1i,laptop&date=today 12-m,today 12-m", "guestPath": "https://trends.google.com.vn:443/trends/embed/" });</script>

            }

        </div>
        <div class="col-lg-6 col-xl-6 order-lg-1 order-xl-1">
            <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
            <script type="text/javascript">trends.embed.renderExploreWidget("RELATED_QUERIES", { "comparisonItem": [{ "keyword": "@{@ViewBag.Key1}", "geo": "VN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "q=%C4%91i%E1%BB%87n%20tho%E1%BA%A1i&geo=VN&date=today 12-m", "guestPath": "https://trends.google.com.vn:443/trends/embed/" });</script>
            <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
            <script type="text/javascript">trends.embed.renderExploreWidget("RELATED_TOPICS", { "comparisonItem": [{ "keyword": "@{@ViewBag.Key1}", "geo": "VN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "geo=VN&q=%C4%91i%E1%BB%87n%20tho%E1%BA%A1i&date=today 12-m", "guestPath": "https://trends.google.com.vn:443/trends/embed/" });</script>
        </div>
        <div class="col-md-12">

        </div>

    </div>
    <div class="row">
        <div class="col-md-12" style="height:100%">
            <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2213_RC01/embed_loader.js"></script>
            <script type="text/javascript">trends.embed.renderExploreWidget("GEO_MAP", { "comparisonItem": [{ "keyword": "@{@ViewBag.Key1}", "geo": "VN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "geo=VN&q=%C4%91i%E1%BB%87n%20tho%E1%BA%A1i&date=today 12-m", "guestPath": "https://trends.google.com.vn:443/trends/embed/" });</script>
        </div>
      
    </div>

    <!--End::Row-->
    <!--Begin::Row-->

    <!--End::Row-->
    <!--End::Dashboard 1-->
    
<!-- end:: Content -->