
@{
    ViewBag.Title = "Liên hệ chúng tôi";
    ViewBag.Header = "page full-width";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter {

    <script src="/assets/client/js/Controller/ContactController.js"></script>
   

}

<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <nav class="woocommerce-breadcrumb">
            <a href="home.html">Home</a>
            <span class="delimiter"><i class="fa fa-angle-right"></i></span>
            Liên hệ
        </nav><!-- .woocommerce-breadcrumb -->

        <div id="primary" class="content-area">
            <main id="main" class="site-main">

                <article class="hentry">

                    <header class="entry-header">
                        <h1 class="entry-title">Liên hệ</h1>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="wpb_wrapper outer-bottom-xs">
                                    <h2 class="contact-page-title">Để lại lời nhắn</h2>

                                </div>

                                <div role="form" class="wpcf7">
                                    <div class="screen-reader-response"></div>
                                    <form action="#" method="post" class="wpcf7-form">

                                        <div class="form-group row">
                                            <div class="col-xs-12 col-md-6">
                                                <label>Tên*</label><br />
                                                <span class="wpcf7-form-control-wrap first-name">
                                                    <input type="text" id="txtName" name="name" value="" size="40" class="wpcf7-form-control input-text" aria-required="true" aria-invalid="false" />
                                                </span>
                                            </div>

                                            <div class="col-xs-12 col-md-6">
                                                <label>Số điện thoại*</label><br />
                                                <span class="wpcf7-form-control-wrap last-name">
                                                    <input id="txtTieuDe" type="text" name="tieude first-name" value="" size="40" class="wpcf7-form-control input-text" aria-required="true" aria-invalid="false" />
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label><br />
                                            <span class="wpcf7-form-control-wrap subject"><input id="txtEmail" type="email" name="email" value="" size="40" class="wpcf7-form-control input-text" aria-invalid="false" /></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Nội dung</label><br />
                                            <span class="wpcf7-form-control-wrap your-message"><textarea  id="txtContent"  name="content" cols="40" rows="10" class="wpcf7-form-control input-text wpcf7-textarea" aria-invalid="false"></textarea></span>
                                        </div>

                                        <div class="form-group clearfix">
                                            <button type="submit" id="btnSend" class="button alt btn-primary">Xác nhận</button>
                                            @*  <p><input id="btnSend" value="Gửi" class="wpcf7-form-control wpcf7-submit" /></p>*@
                                        </div>
                                    </form>
                                </div>
                            </div><!-- .col -->

                            <div class="store-info store-info-v2 col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="inner-left-xs outer-bottom-xs">

                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.593303940039!2d-0.15470444843858283!3d51.53901886611164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ae62edd5771%3A0x27f2d823e2be0249!2sPrincess+Rd%2C+London+NW1+8JR%2C+UK!5e0!3m2!1sen!2s!4v1458827996435" width="600" height="288" style="border:0" allowfullscreen></iframe>

                                        </div>

                                        <div class="inner-left-xs">
                                            <div class="wpb_wrapper">
                                                <h2 class="contact-page-title">Địa chỉ</h2>
                                                <p>
                                                    120 Hoàng Hoa Thám, Quận 1, thành phố HCM 
                                                    Hỗ trợ: 0966666666<br />
                                                    Email: <a href="mailto:contact@yourstore.com">yup@gmail.com</a>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .entry-content -->

                </article><!-- #post-## -->

            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .col-full -->
</div><!-- #content -->
